/************************************import************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');



/*************************************html*************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    padding: 0 !important;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}



/************************************header************************************/
.contenedor_aplicacion {
	max-width: 1140px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.header {
	/* position: absolute; */
	/* left: 0; */
	top: 0;
	width: 100%;
    /* height: 4vh; */
	z-index: 99;
    padding: 15px !important;
	/* padding: 15px; */
	background-color: #45AFFF;
    margin-bottom: 40px;
}

.header-perfil {
    height: 20vh;
    background-color: #45AFFF;
    margin-bottom: 40px;
    top: 250px;
     position: relative;
}

.header .row {
	justify-content: space-between;
	align-items: center;
}

.header .logo a {
	font-size: 30px;
	text-decoration: none;
	color: #333333;
	font-weight: 600;
}

.header .boton_abrir_menu {
	height: 45px;
	width: 45px;
	background-color: #33333300;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .boton_abrir_menu span {
	height: 3px;
	width: 24px;
	background-color: #ffffff;
	display: block;
	position: relative;
}

.header .boton_abrir_menu span:before,
.header .boton_abrir_menu span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.header .boton_abrir_menu span:before {
	top: -8px;
}

.header .boton_abrir_menu span:after {
	top: 8px;
}

.logo_aplicacion {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-bottom: 10px;
}

.logo_aplicacion {
  cursor: pointer;
}

.name {
    font-size: 28px;
    margin: 10px 0;
    position: relative;
    top: 15px;
}


/*************************************nav*************************************/
.contenedor_menu_aplicacion {
    position: fixed;
    right: 0; /* Cambiado de left: 0 a right: 0 */
    top: 0;
    z-index: 499;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transform: translateX(100%); /* Cambiado de translateX(-100%) a translateX(100%) */
}

.contenedor_menu_aplicacion.open {
	transform: translateX(0%);
}

.menu_aplicacion {
    position: fixed;
    right: 0; /* Cambiado de left: 0 a right: 0 */
    top: 0;
    background-color: #ff9100;
    height: 100%;
    width: 340px;
    z-index: 500;
    transform: translateX(260px); /* Cambiado de translateX(-260px) a translateX(260px) */
    overflow-y: auto;
}

.menu_aplicacion .head {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 501;
	background-color: #111111;
	width: 100%;
	height: 75px;
}

.menu_aplicacion.open {
	transform: translateX(0px);
}

.menu_aplicacion strong {
    height: 50px;
    color: #dddddd;
    font-size: 30px;
    text-align: right; /* Cambiado de text-align: left a text-align: right */
    line-height: 50px;
    padding: 10px 15px 0 50px; /* Ajustado el padding */
    display: block;
    width: 100%;
    font-weight: 600;
}


.menu_aplicacion .boton_cerrar_menu {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0; /* Cambiado de right: 0 a left: 0 */
    top: 0;
    font-size: 50px;
    color: #dddddd;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    padding: 10px 15px 0 50px; /* Ajustado el padding */
}

.menu_aplicacion ul {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}


.menu_aplicacion ul li a {
	color: #000000;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	display: block;
	padding: 8px 15px;
	position: relative;
	transition: all 0.5s ease;
	padding: 10px 50px 0 15px;
}

/* Ajustar la barra hover de los elementos del menú */
.menu_aplicacion ul li a:before {
    content: '';
    position: absolute;
    right: 0; /* Cambiado de left: 0 a right: 0 */
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.5s ease;
}

.menu_aplicacion ul li a:hover:before {
    width: 100%;
    right: auto; /* Asegura que crezca de derecha a izquierda */
    left: 0;
}

.menu_aplicacion ul li a {
    padding: 10px 15px 0 50px; /* Ajustado el padding */
}

.submenu_informacion:hover .opciones_informacion {
	display: block;
}

.opciones_informacion {
	display: none;
}

.submenu_gestioneducativa:hover .opciones_gestioneducativa {
	display: block;
}

.opciones_gestioneducativa {
	display: none;
}

.submenu_gestiondedocentes:hover .opciones_gestiondedocentes {
	display: block;
}

.opciones_gestiondedocentes {
	display: none;
}

.submenu_gestionacademica:hover .opciones_gestionacademica {
	display: block;
}

.opciones_gestionacademica {
	display: none;
}

.submenu_herramientas:hover .opciones_herramientas {
	display: block;
}

.opciones_herramientas {
	display: none;
}

.submenu_documentos:hover .opciones_documentos {
	display: block;
}

.opciones_documentos {
	display: none;
}

.opciones_menu_aplicacion span {
	margin-right: 15px;
	font-size: 50px;

}

.opciones_menu_aplicacion .boton_submenu {
	position: relative;
	bottom: 2px;
	margin-right: 0px;
	margin-left: 20px;
	font-size: 15px;
	text-align: center;
}

.opciones_informacion span,
.opciones_gestioneducativa span,
.opciones_herramientas span {
	font-size: 30px;
}

/********************************main_modulos********************************/

.contenedor_modulos_aplicacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 100%;
    margin: 100px auto;


}

#input_buscar {
	width: 80%;
	margin: 0% 10% 4% 5%;
	padding: 10px;
	background: linear-gradient(90deg, #FFFFFF, #45AFFF60);
	border: none;
	border: 2px solid #45AFFF;
	border-radius: 18px;
	outline: none;
        font-family: Comfortaa;
}

.icono {
    width: 100px;
    height: 40px;
    position: absolute;
    right: -10px;
    display: flex;
}

.lista,
.grid {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.lista span {
    width: 30px;
    height: 5px;
    background: #2f3542;
    position: absolute;
    top: 5px;
    left: 3px;
}

.lista span:nth-child(2) {
    top: 15px;
}

.lista span:nth-child(3) {
    top: 25px;
}

.grid span {
    width: 10px;
    height: 10px;
    background: #2f3542;
    position: absolute;
    left: 5px;
    top: 5px;
}

.grid span:nth-child(2) {
    top: 20px;
}

.grid span:nth-child(3) {
    left: 20px;
}

.grid span:nth-child(4) {
    top: 20px;
    left: 20px;
}


.contenedor_modulos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin: 1% 10% 1% 10%;
    gap: 1rem;
}

.contenedor_modulos a {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #45AFFF;
    margin: 10px;
    border-radius: 50px;
}

.modulo_aplicacion:hover {
    transform: scale(1.1);
  }

.contenedor_modulos.lista {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.contenedor_modulos.lista a {
    width: 100%;
    height: 100px;
    margin: 1% 0% 1% -10%;
}



.descripcion_modulo {
    color: #2f3542;
    align-items: center;
    justify-items: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    margin: 120px 0px 0px 0px;

}

.imagen_modulo {
    height: 100px;
    font-size: 100px;
    color:#2f3542;
    margin: -50px 0px 0px 0px;
}

.contenedor_modulos.lista .descripcion_modulo {
    color: #2f3542;
    align-items: center;
    justify-items: center;
    font-family: Comfortaa;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    margin: 0px 0px 0px 0px;

}


.contenedor_modulos.lista .imagen_modulo {
    height: 60px;
    font-size: 80px;
    color:#2f3542;
    margin: -50px 700px 0px 0px;
}

/********************************main_manuales********************************/
.contenedor_tarjetas {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father {
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card {
    transform: rotateY(180deg);
}

.card {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 700ms;
}

.card__front {
    background-size: cover;
    background-position: center;
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back {
    transform: rotateY(180deg);
    background: white;
}

.body__card_front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.body__card_back {
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
    line-height: initial;
}

.body__card_back h1 {
    color: #45AFFF;
}

.body__card_back p {
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input {
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #45AFFF;
    box-shadow: 1px 1px 30px -5px #45AFFF;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover {
    box-shadow: 1px 1px 30px 0px #45AFFF;
}


/* Estilos para cambiar foto de perfil */
.contenedor_foto_perfil {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.foto_perfil_wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.logo_aplicacion {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.overlay_foto_perfil {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cambiar_foto_texto {
  color: white;
  font-size: 16px;
  text-align: center;
}

.foto_perfil_wrapper:hover .overlay_foto_perfil {
  height: 40%;
}

.foto_perfil_wrapper:hover .logo_aplicacion {
  filter: brightness(80%);
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal_contenido {
    background-color: #fff;
    margin: 10% auto;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: modalOpen 0.4s;
}

@keyframes modalOpen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

.modal_header {
    background-color: #ff9100;
    color: #333;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_header h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.cerrar_modal {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar_modal:hover {
    color: #fff;
}

.modal_body {
    padding: 20px;
}

/* Estilos para la foto de perfil en el modal */
.foto_perfil_modal_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.foto_perfil_modal_wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#foto_perfil_modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.overlay_foto_modal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_perfil_modal_wrapper:hover .overlay_foto_modal {
    height: 40%;
}

.foto_perfil_modal_wrapper:hover #foto_perfil_modal {
    filter: brightness(85%);
}

/* Estilos para la información del perfil */
.info_perfil {
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
}

.campo_perfil {
    margin-bottom: 15px;
    position: relative;
}

.campo_perfil label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    font-size: 14px;
}

.campo_perfil input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
}

.campo_perfil input:disabled {
    color: #333;
    cursor: default;
}

.campo_perfil input:focus {
    border-bottom: 2px solid #45AFFF;
}

/* Estilos para los botones */
.boton_editar, .boton_guardar {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.boton_editar:hover, .boton_guardar:hover {
    background-color: #ff7b00;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.boton_guardar {
    background-color: #45AFFF;
}

.boton_guardar:hover {
    background-color: #3a93d5;
}